<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<nav id="sidebar">
    <div id="sidebar-header">
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HRM</a>
    </div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="HumanResources" asp-action="Index">Human Resources</a>
        </li>
    </ul>
</nav>

<div id="app-main">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HRM</a> *@
                @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
                @*         aria-expanded="false" aria-label="Toggle navigation"> *@
                @*     <span class="navbar-toggler-icon"></span> *@
                @* </button> *@
            </div>
        </nav>
    </header>
    <main role="main" class="p-4">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container-fluid pl-4 pr-4">
            &copy; 2021 - HRM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>