@using HRM.Core.Enums
@model HRM.Core.DTO.HumanResource.CreateHumanResourceDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create Human Resource</h1>

<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control"/>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Departments"></select>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<HumanResourceStatus>()" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="EmployeeNumber" class="control-label"></label>
                    <input asp-for="EmployeeNumber" class="form-control"/>
                    <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}